body {
    margin: 0;
}

header {
    background-color: cornflowerblue;
    height: 50px;
    display: flex;
}

.logo-wrapper {
    padding: 10px;
    width: 100px;
}

.logo-wrapper img {
    max-width: 100%;
    max-height: 100%;
}

.menu {
    flex: 1;

    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.item {
    color: white;
    margin-right: 10px;
    padding: 5px;
}