.header {
    background-image: url(./img/20180213_150626.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.nav {
    background-color: rgba(0,0,0,0.2) !important;
}

.inicio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-wrapper {
    text-align: center;
    padding: 100px;
}

.profile-wrapper {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.profile-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* redes */

.redes-container {
    position: relative;
}

.redes {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-50%);
}

.red-wrapper {
    margin: 0 10px;
}

/* .red-wrapper img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
} */

/* about */

.about {
    margin: 50px 0;
}

.ai i {
    margin: 40px 0;
    font-size: 7rem;
    display: block;
}

/* portfolio */

.portfolio-container {
    padding: 30px 0;
}